In [1]:
import os
import pandas as pd
import re

In [2]:
# Read the text file into a list of lines
with open(".\list_buildings.txt", 'r') as file:
    lines = file.readlines()

# print(lines)

In [3]:
# Get the variables from the dataset and save it as dataframe. This functions will work for the current dataset. 
def parse_line(line):
    match = re.match(r'(\d+)\.\s+([\d,\s-]+)\s+(.+?)\s+(Street|Road|Avenue|Broadway|Parkway|Place|Drive|Trail)\s+(.+?)\s+\((\w)\)', line.strip())
    if match:
        index = int(match.group(1))
        addresses = match.group(2)
        street_name = match.group(3) + " " + match.group(4)
        details = match.group(5)
        region = match.group(6)
        
        # Split the addresses by comma and process each part
        entries = []
        for part in addresses.split(','):
            part = part.strip()
            if '-' in part:
                start_number, end_number = map(int, part.split('-'))
                for number in range(start_number, end_number + 1):
                    entries.append({
                        'Index': index,
                        'Number': number,
                        'Street Name': street_name,
                        'Details': details,
                        'Region': region
                    })
            else:
                number = int(part)
                entries.append({
                    'Index': index,
                    'Number': number,
                    'Street Name': street_name,
                    'Details': details,
                    'Region': region
                })
        return entries
    return []

# Sample data, if you like to try out
# lines = [
#     "42. 17, 520, 530-540 Elizabeth Street Complex of St. Thomas the Apostle (D)",
#     # Add other lines here
# ]

# Parse all lines and collect the results
data = []
for line in lines:
    data.extend(parse_line(line))

# Create a DataFrame from the collected data
df = pd.DataFrame(data)

# Add city and state name
df['city'] = 'Ann Arbor'
df['state'] = 'Michigan'

# Save the DataFrame to a CSV file if needed
df.to_csv('buildings_annarbor.csv', index=False)

In [4]:
df.head()

   Index  Number      Street Name      Details Region       city     state
0      1     109  East Ann Street  Hoban Block      D  Ann Arbor  Michigan
1      1     110  East Ann Street  Hoban Block      D  Ann Arbor  Michigan
2      1     111  East Ann Street  Hoban Block      D  Ann Arbor  Michigan
3      1     112  East Ann Street  Hoban Block      D  Ann Arbor  Michigan
4      1     113  East Ann Street  Hoban Block      D  Ann Arbor  Michigan

In [5]:
len(df.Index.unique()) #checking the number of index

178

In [6]:
# df.Index.unique()